@font-face {
  font-family: "ui-font";
  src: url(../fonts/NotoSansTC-Medium.ttf);
}
@font-face {
  font-family: "en-font";
  src: url(../fonts/Roboto-Medium.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body header {
  background-color: snow;
  display: flex;
  flex-wrap: wrap;
  height: 10vh;
  align-items: center;
  box-shadow: 0 10px 6px -6px #777;
}
body header section.title {
  flex: 2 1 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 2rem;
  font-family: "en-font";
}
body header section.title div.rectangle {
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 255, 0.8);
  border-radius: 6px;
  margin: 0.25rem 0.5rem;
}
body header section.title .web-title {
  display: flex;
  text-align: left;
}
body header section.title .web-title h2 {
  font-size: 1.5rem;
  font-weight: bold;
}
body header section.title .web-title h3 {
  font-size: 1.5rem;
}
body header nav {
  flex: 3 1 300px;
}
body header nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: flex-end;
}
body header nav ul li {
  padding: 0rem 1.5rem;
}
body header nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
  display: block;
  font-family: "ui-font";
}
body header nav ul li a:hover {
  transition: all 0.3s ease-in;
  color: mediumblue;
}
body header nav ul li .active {
  color: mediumblue;
}
body header img {
  display: none;
}
body header .side-nav {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  width: 100%;
  background-color: rgb(209, 234, 250);
  animation-name: animate;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  padding-top: 60px;
}
body header .side-nav .close-btn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  text-decoration: none;
  color: black;
  font-family: "ui-font";
  margin-left: 50px;
  padding: 8px 8px 8px 32px;
}
body header .side-nav ul {
  display: flex;
  flex-direction: column;
}
body header .side-nav ul li a {
  display: block;
  padding: 40px 8px 40px 8px;
  font-size: 25px;
  font-family: "ui-font";
  color: black;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s ease;
}
body header .side-nav ul li a:hover {
  color: mediumblue;
}
body header .side-nav ul li .active {
  color: mediumblue;
}
body main div.window-bg {
  position: fixed;
  top: 10;
  left: 0;
  display: flex;
  height: 100%;
  overflow: visible;
}
body main div.window-bg div.window-left-bg {
  background: rgba(71, 114, 194, 0.8);
  width: 35vw;
}
body main div.window-bg div.window-right-bg {
  background: rgba(230, 230, 250, 0.2);
  width: 65vw;
}
body main div.self-information {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
  display: flex;
  font-family: "ui-font";
}
body main div.self-information section.left-info {
  background: rgb(100, 149, 237);
  width: 40%;
  height: 100%;
  box-shadow: -5px 2px 5px rgba(52, 52, 53, 0.6), -6px -6px 10px rgba(52, 52, 53, 0.6);
  position: relative;
}
body main div.self-information section.left-info div.self-img {
  display: flex;
  justify-content: center;
  margin: 1.75rem 0rem;
}
body main div.self-information section.left-info div.self-img img {
  width: 50%;
  border-radius: 50%;
}
body main div.self-information section.left-info div.text-info {
  text-align: center;
  align-items: center;
  justify-content: center;
}
body main div.self-information section.left-info div.text-info h1 {
  margin-bottom: 2rem;
  font-size: 2.5rem;
}
body main div.self-information section.left-info div.text-info h2 {
  font-size: 1.5rem;
}
body main div.self-information section.left-info div.contact-methods {
  background-color: white;
  width: 100%;
  position: absolute;
  bottom: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
body main div.self-information section.left-info div.contact-methods div.line,
body main div.self-information section.left-info div.contact-methods div.phone,
body main div.self-information section.left-info div.contact-methods div.gmail,
body main div.self-information section.left-info div.contact-methods div.github {
  padding: 0.5rem;
}
body main div.self-information section.right-info {
  background: rgba(230, 230, 250, 0.5);
  width: 60%;
  height: 100%;
  text-align: left;
}
body main div.self-information section.right-info h2 {
  font-size: 3rem;
  font-weight: bold;
  padding: 1rem;
}
body main div.self-information section.right-info h3 {
  font-size: 2rem;
  font-weight: bold;
  padding: 0rem 1rem;
}
body main div.self-information section.right-info p {
  font-size: 1.15rem;
  padding: 1rem 0rem 1rem 1rem;
}
body main div.self-information section.right-info div.quick-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
body main div.self-information section.right-info div.quick-link a.quick-resume {
  display: block;
  text-decoration: none;
  font-size: 1.25rem;
  color: white;
  background: rgb(0, 80, 255);
  padding: 0.75rem 1.5rem;
  margin: 1rem 1rem 0rem 1rem;
  border-radius: 1.5rem;
  transition: all 0.3s ease-in;
}
body main div.self-information section.right-info div.quick-link a.quick-resume:hover {
  color: black;
  border: 1px solid rgb(0, 80, 255);
  background: white;
}
body main div.self-information section.right-info div.quick-link a.quick-project {
  display: block;
  text-decoration: none;
  font-size: 1.25rem;
  color: black;
  background: white;
  padding: 0.75rem 1.5rem;
  margin: 1rem 1rem 0rem 1rem;
  border: 1px solid black;
  border-radius: 1.5rem;
  transition: all 0.3s ease-in;
}
body main div.self-information section.right-info div.quick-link a.quick-project:hover {
  color: white;
  border: 1px solid rgb(0, 80, 255);
  background: rgb(0, 80, 255);
}

@keyframes animate {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}
@media screen and (max-width: 1200px) {
  body main div.self-information {
    width: 70%;
  }
}
@media screen and (max-width: 1080px) {
  body main div.self-information {
    width: 80%;
  }
}
@media screen and (max-width: 800px) {
  body header img {
    display: block;
    margin-right: 1.25rem;
  }
  body header img:hover {
    cursor: pointer;
  }
  body header nav {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  body header {
    height: 10vh;
  }
  body header section.title {
    margin-left: 1rem;
    flex: 1 1 100px;
  }
  body header section.title .web-title {
    flex-direction: column;
  }
  body header section.title .web-title h3 {
    font-size: 1.25rem;
  }
}/*# sourceMappingURL=styles.css.map */