* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

$fontColor: dodgerblue;
body {
  nav {
    background-color: snow;
    border-bottom: 2px solid rgba(0, 0, 0, 0.7);

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;

    // position: sticky;
    // top: 0;
    // z-index: 10;
    // box-shadow: 0px 10px 6px -6px #777;
    ul {
      display: flex;
      li {
        list-style-type: none;
        padding: 0.75rem 2rem 0rem 2rem;
        .active {
          color: $fontColor;
          font-weight: bolder;
          padding-bottom: 0.2rem;
          border-bottom: 2px solid $fontColor;
        }

        a {
          color: black;
          font-size: 1.25rem;
          text-decoration: none;
          transition: all 0.2s ease-in-out;
          &:hover {
            color: $fontColor;
            padding-bottom: 0.2rem;
            border-bottom: 2px solid $fontColor;
          }
        }
      }
    }
  }
  main {
    section.main-area {
      background-color: white;

      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      min-height: 40vh;

      line-height: 1.5;
      div.introduce {
        flex-basis: 450px;
        padding: 0.5rem;
        h1 {
          font-size: 2.25rem;
          text-align: center;
        }
        p {
          font-size: 1rem;
          text-align: left;
        }
        a {
          background-color: mediumaquamarine;
          color: white;
          text-decoration: none;
          font-size: 1.5rem;

          padding: 0.5rem;
          border-radius: 20px;
          display: inline-block;
          margin: 1.5rem;
          transition: all 0.2s ease-in-out;
          &:hover {
            transform: scale(1.2);
          }
        }
      }
      div.self-image {
        flex-basis: 450px;
        img {
          width: 100%;
        }
      }
    }
    section.skill {
      margin: 2rem 0rem;
      background-color: rgba(244, 164, 96, 0.1);

      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      min-height: 30vh;

      div.self-image2 {
        padding: 1rem;
        flex: 2 1 900px;
        text-align: center;
        img {
          width: 80%;
          border-radius: 10px;
        }
      }
      div.self-skill {
        flex: 3 1 500px;
        display: flex;
        flex-wrap: wrap;

        h3 {
          font-weight: bold;
          font-size: 1.5rem;
          text-decoration: underline;
        }
        ul {
          list-style-position: inside;
          line-height: 2;
          padding: 0.25rem;
          li {
            font-size: 1.15rem;
          }
        }
        div.tools,
        div.web-design,
        div.image-recognize {
          padding: 1rem;
        }
      }
    }
    section.about-me {
      background-color: snow;
      padding: 5rem;
      margin-top: -1.5rem;
      min-height: 50vh;

      display: flex;
      justify-content: center;
      div.text-info {
        width: 60%;
        text-align: center;

        h3 {
          color: black;
          font-size: 2rem;
        }
        p {
          font-size: 1.15rem;
          color: black;
        }
        .process-bar {
          p {
            margin: 0.5rem;
          }
        }
        div.fast-link {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          align-items: center;

          margin-top: 0.75rem;
          padding: 1.25rem;

          a {
            background-color: rgba(0, 139, 139, 0.5);
            color: black;
            text-decoration: none;
            border-radius: 20px;

            display: inline-block;
            padding: 0.8rem;
            margin: 1rem;
            font-size: 1.2rem;
            transition: all 0.2s ease-in;
            &:hover {
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }
}

// RWD 設計
@media screen and (max-width: 600px) {
  body {
    nav {
      justify-content: flex-start;
      ul {
        flex-direction: column;
        padding-left: 0.25rem;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  body {
    main {
      section.about-me {
        div.text-info {
          width: 100%;
        }
      }
    }
  }
}
