* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body nav {
  background-color: snow;
}
body nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}
body nav ul li {
  list-style-type: none;
  margin: 1rem 2rem;
}
body nav ul li .active {
  color: dodgerblue;
  font-weight: bolder;
  padding-bottom: 0.2rem;
  border-bottom: 2px solid dodgerblue;
}
body nav ul li a {
  color: black;
  font-size: 1.25rem;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
body nav ul li a:hover {
  color: dodgerblue;
  padding-bottom: 0.2rem;
  border-bottom: 2px solid dodgerblue;
}
body main section.main-area {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 40vh;
  line-height: 1.5;
}
body main section.main-area div.introduce {
  flex-basis: 450px;
  padding: 0.5rem;
}
body main section.main-area div.introduce h1 {
  font-size: 2.25rem;
  text-align: center;
}
body main section.main-area div.introduce p {
  font-size: 1rem;
  text-align: left;
}
body main section.main-area div.introduce a {
  background-color: mediumaquamarine;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 20px;
  display: inline-block;
  margin: 1.5rem;
  transition: all 0.2s ease-in-out;
}
body main section.main-area div.introduce a:hover {
  transform: scale(1.2);
}
body main section.main-area div.self-image {
  flex-basis: 450px;
}
body main section.main-area div.self-image img {
  width: 100%;
}
body main section.skill {
  margin: 2rem 0rem;
  background-color: rgba(244, 164, 96, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 30vh;
}
body main section.skill div.self-image2 {
  padding: 1rem;
  flex: 2 1 900px;
}
body main section.skill div.self-image2 img {
  width: 100%;
  border-radius: 10px;
}
body main section.skill div.self-skill {
  flex: 3 1 500px;
  display: flex;
  flex-wrap: wrap;
}
body main section.skill div.self-skill h3 {
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: underline;
}
body main section.skill div.self-skill ul {
  list-style-position: inside;
  line-height: 2;
  padding: 0.25rem;
}
body main section.skill div.self-skill ul li {
  font-size: 1.15rem;
}
body main section.skill div.self-skill div.tools,
body main section.skill div.self-skill div.web-design,
body main section.skill div.self-skill div.image-recognize {
  padding: 1rem;
}
body main section.about-me {
  background-color: snow;
  padding: 5rem;
  margin-top: -1.5rem;
  min-height: 50vh;
  display: flex;
  justify-content: center;
}
body main section.about-me div.text-info {
  width: 75%;
  text-align: center;
}
body main section.about-me div.text-info h3 {
  color: black;
  font-size: 2rem;
}
body main section.about-me div.text-info p {
  font-size: 1.15rem;
  color: black;
}
body main section.about-me div.text-info .process-bar p {
  margin: 0.5rem;
}/*# sourceMappingURL=styles.css.map */