@font-face {
  font-family: "ch-font";
  src: url(../fonts/NotoSansTC-Medium.ttf);
}
@font-face {
  font-family: "en-font";
  src: url(../fonts/Roboto-Medium.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

#basic-info,
#expertise,
#autobiography,
#special-studies,
#processing-things,
#refresher-course {
  margin-bottom: 10rem;
}

main {
  width: 100%;
  height: 100%;
}

.main-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -3;
  background-color: rgb(244, 236, 230);
  width: 100%;
  height: 100%;
}

.content-background {
  padding: 1rem 1rem 1rem 0.5rem;
  font-size: 1.15rem;
  width: 90%;
  background-color: white;
  box-shadow: 2px 2px 3px #777, -2px 2px 3px #777, 2px -2px 3px #777;
}

.animate-fade-in {
  opacity: 0;
  animation: fadeIn 2.5s forwards;
}

body {
  overflow-x: hidden;
}
body header {
  background-color: rgb(240, 235, 235);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 10px 3px -6px #7e7c7c;
}
body header .web-title {
  display: flex;
  align-items: center;
  padding: 0rem 1rem;
  font-family: "en-font";
}
body header .web-title .circle {
  background-color: rgba(0, 0, 255, 0.8);
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin-right: 0.75rem;
}
body header .web-title .title-text {
  display: flex;
  align-items: center;
}
body header .web-title .title-text h2 {
  font-size: 1.75rem;
  font-weight: bold;
  padding-right: 1rem;
}
body header .web-title .title-text h3 {
  font-size: 1.25rem;
}
body header .windows-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 1rem;
}
body header .windows-nav ul {
  display: flex;
  list-style-type: none;
}
body header .windows-nav ul .about-me,
body header .windows-nav ul .resume,
body header .windows-nav ul .project {
  border-right: 1px solid black;
}
body header .windows-nav ul a {
  text-decoration: none;
  color: black;
  display: block;
  transition: all 0.3s ease;
  padding: 0rem 2rem;
  font-size: 1.25rem;
  font-family: "ch-font";
}
body header .windows-nav ul a:hover {
  color: mediumblue;
}
body header .windows-nav .active {
  color: mediumblue;
}
body header p {
  display: none;
  font-size: 40px;
  padding: 0.25rem 1.5rem;
  color: rgb(77, 76, 76);
  transition: all 0.3s;
}
body header p:hover {
  transform: scale(1.2);
  cursor: pointer;
}
body header .side-nav {
  display: none;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  width: 100%;
  height: 0%;
  background-color: rgb(234, 237, 238);
  padding-top: 60px;
}
body header .side-nav .close-btn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  text-decoration: none;
  color: black;
  font-family: "ch-font";
  margin-left: 50px;
  padding: 8px 8px 8px 32px;
}
body header .side-nav ul {
  display: none;
}
body header .side-nav ul li a {
  display: block;
  padding: 40px 8px 40px 8px;
  font-size: 25px;
  font-family: "ch-font";
  color: black;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
body header .side-nav ul li a:hover {
  color: mediumblue;
}
body header .side-nav ul li .active {
  color: mediumblue;
}
body main.resume-main {
  font-family: "ch-font";
  display: flex;
  margin-top: 5%;
}
body main.resume-main .left-region {
  width: 25%;
  height: 100%;
  margin: 0rem 2rem;
  position: sticky;
  top: 5%;
  left: 0;
}
body main.resume-main .left-region h2 {
  margin: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid black;
}
body main.resume-main .left-region .each-nav {
  display: flex;
  margin: 1rem 1rem 2rem 1rem;
  position: relative;
  align-items: center;
  text-align: center;
}
body main.resume-main .left-region .each-nav a {
  text-decoration: none;
  color: rgb(97, 97, 97);
  display: block;
  font-size: 1.2rem;
  margin-left: 0.5rem;
}
body main.resume-main .left-region .each-nav .active {
  background-color: rgb(133, 132, 132);
}
body main.resume-main .left-region .each-nav .active::after {
  background-color: white;
}
body main.resume-main .left-region .each-nav:hover .button-nav {
  transition: all 0.5s ease-in-out;
  background-color: rgb(133, 132, 132);
}
body main.resume-main .left-region .each-nav:hover .button-nav::after {
  transition: all 0.5s ease-in-out;
  background-color: white;
}
body main.resume-main .left-region .button-nav {
  position: relative;
  background-color: transparent;
  width: 20px;
  height: 20px;
  border: 3px solid rgb(133, 132, 132);
  border-radius: 10px;
}
body main.resume-main .left-region .button-nav::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 5px;
}
body main.resume-main .right-region {
  width: 75%;
  height: 100%;
}
body main.resume-main .right-region table {
  border-collapse: collapse;
  width: 100%;
}
body main.resume-main .right-region table h5 {
  font-size: 0.8rem;
}
body main.resume-main .right-region table li {
  padding: 0.5rem 0rem;
}
body main.resume-main .right-region table a {
  text-decoration: none;
}
body main.resume-main .right-region table th,
body main.resume-main .right-region table td {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
body main.resume-main .right-region table th {
  border-right: 1px solid black;
  text-align: center;
  padding: 0.5rem;
}
body main.resume-main .right-region table td {
  padding: 0.75rem 1.5rem;
}
body main.resume-main .right-region table tr:hover {
  background-color: rgba(144, 238, 144, 0.5);
}
body main.resume-main .right-region h2 {
  width: 90%;
  margin: 1rem 0rem;
  font-size: 2rem;
  text-align: center;
}
body main.resume-main .right-region h3 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
body main.resume-main .right-region p {
  padding-left: 0.25rem;
}
body main.resume-main .right-region #special-studies ul {
  padding: 0rem 1.5rem;
}
body main.resume-main .right-region #special-studies ul li {
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
}
body main.resume-main .right-region #special-studies p {
  text-indent: 2em;
  text-align: left;
  margin-bottom: 1rem;
}
body main.resume-main .right-region #special-studies img {
  padding-bottom: 0.5rem;
  width: 100%;
}
body main.resume-main .right-region #special-studies .special-links {
  display: flex;
  flex-wrap: wrap;
}
body main.resume-main .right-region #special-studies .special-links a {
  display: block;
  text-decoration: none;
  color: purple;
  margin: 0.25rem 0rem 1.25rem 1.25rem;
  font-size: 1rem;
}
body main.resume-main .right-region #special-studies .special-links a:hover {
  font-size: 1.25rem;
  border-bottom: 1px solid rgb(38, 38, 247);
  color: rgb(38, 38, 247);
}
body main.resume-main .right-region .content-text {
  padding: 0.75rem 0.25rem;
  display: flex;
  flex-wrap: wrap;
}
body main.resume-main .right-region .content-text img {
  flex: 1 1 300px;
  width: 100%;
  margin-right: 0.75rem;
}
body main.resume-main .right-region .content-text p {
  flex: 2 1 300px;
}
body main.index-main .main-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgb(244, 236, 230);
  width: 100%;
  height: 100%;
}
body main.index-main .information {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
body main.index-main .information .left-info {
  display: flex;
  flex-direction: column;
}
body main.index-main .information .left-info .self-img img {
  width: 500px;
  border-radius: 50%;
  padding: 1.25rem;
}
body main.index-main .information .left-info .contact-methods {
  display: flex;
  justify-content: center;
  align-items: center;
}
body main.index-main .information .left-info .contact-methods .line,
body main.index-main .information .left-info .contact-methods .phone,
body main.index-main .information .left-info .contact-methods .gmail,
body main.index-main .information .left-info .contact-methods .github {
  padding: 0rem 0.75rem;
}
body main.index-main .information .right-info {
  margin: 1rem;
  font-family: "ch-font";
  width: 530px;
}
body main.index-main .information .right-info h2 {
  font-size: 2rem;
  padding-bottom: 0.75rem;
}
body main.index-main .information .right-info h3 {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}
body main.index-main .information .right-info p {
  font-size: 1.15rem;
  padding-bottom: 1.5rem;
}
body main.index-main .information .right-info .quick-links {
  display: flex;
  text-align: center;
}
body main.index-main .information .right-info .quick-links .resume {
  background-color: rgba(156, 247, 161, 0.8);
}
body main.index-main .information .right-info .quick-links .project {
  background-color: rgba(115, 234, 250, 0.8);
}
body main.index-main .information .right-info .quick-links .contact {
  background-color: rgba(165, 42, 42, 0.6);
}
body main.index-main .information .right-info .quick-links a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 60px;
  padding: 1rem;
  margin: 0rem 1rem;
  font-size: 1.15rem;
  border-radius: 48%;
  border: 2px solid gray;
}
body main.index-main .information .right-info .quick-links a:hover {
  background-color: white;
  transform: scale(1.2);
}

@media screen and (max-width: 1080px) {
  body main.resume-main .right-region .content-text {
    flex-direction: column;
  }
  body main.resume-main .right-region .content-text img {
    margin-right: 0;
    margin-bottom: 0.75rem;
  }
}
@media screen and (max-width: 980px) {
  body header .windows-nav {
    display: none;
  }
  body header p {
    display: block;
  }
  body main.index-main .information {
    flex-direction: column-reverse;
  }
  body main.index-main .information .left-info {
    flex-direction: column-reverse;
  }
  body main.index-main .information .right-info {
    text-align: center;
  }
  body main.index-main .information .right-info .quick-links {
    justify-content: center;
  }
}
@media screen and (max-width: 550px) {
  body header .web-title .circle {
    margin-bottom: 22px;
  }
  body header .web-title .title-text {
    flex-direction: column;
    align-items: flex-start;
  }
  body main.index-main .information .left-info .self-img img {
    width: 300px;
  }
  body main.index-main .information .right-info {
    width: 300px;
  }
  body main.index-main .information .right-info .quick-links {
    align-items: center;
  }
  body main.index-main .information .right-info .quick-links a {
    margin: 0.25rem 0.5rem;
    padding: 2.25rem 1rem;
  }
}
@keyframes animate-open {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}
@keyframes animate-close {
  from {
    height: 100%;
  }
  to {
    height: 0%;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=styles.css.map */