@font-face {
  font-family: "ch-font";
  src: url(../fonts/NotoSansTC-Medium.ttf);
}

@font-face {
  font-family: "en-font";
  src: url(../fonts/Roboto-Medium.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

#basic-info,
#expertise,
#autobiography,
#special-studies,
#processing-things,
#refresher-course {
  margin-bottom: 10rem;
}

main {
  width: 100%;
  height: 100%;
}

.main-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -3;
  background-color: rgb(244, 236, 230);
  width: 100%;
  height: 100%;
}

.content-background {
  padding: 1rem 1rem 1rem 0.5rem;
  font-size: 1.15rem;
  width: 90%;
  background-color: white;
  box-shadow: 2px 2px 3px #777, -2px 2px 3px #777, 2px -2px 3px #777;
}

.blue-text {
  text-decoration: none;
  color: blue;
}

.rectangle {
  width: 24px;
  height: 24px;
  border-radius: 40%;
  background-color: rgb(129, 89, 129);
}

.animate-fade-in {
  opacity: 0;
  animation: fadeIn 2.5s forwards;
}

body {
  overflow-x: hidden;

  header {
    background-color: rgb(240, 235, 235);

    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 10px 3px -6px #7e7c7c;

    .web-title {
      display: flex;
      align-items: center;
      padding: 0rem 1rem;
      font-family: "en-font";

      .circle {
        background-color: rgba(0, 0, 255, 0.8);
        width: 20px;
        height: 20px;
        border-radius: 10px;
        margin-right: 0.75rem;
      }
      .title-text {
        display: flex;
        align-items: center;

        h2 {
          font-size: 1.75rem;
          font-weight: bold;
          padding-right: 1rem;
        }
        h3 {
          font-size: 1.25rem;
        }
      }
    }

    .windows-nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      padding: 1rem;

      ul {
        display: flex;
        list-style-type: none;

        .about-me,
        .resume,
        .project {
          border-right: 1px solid black;
        }

        a {
          text-decoration: none;
          color: black;
          display: block;
          transition: all 0.3s ease;
          padding: 0rem 2rem;
          font-size: 1.25rem;
          font-family: "ch-font";

          &:hover {
            color: mediumblue;
          }
        }
      }
      .active {
        color: mediumblue;
      }
    }

    p {
      display: none;
      font-size: 40px;
      padding: 0.25rem 1.5rem;
      color: rgb(77, 76, 76);
      &:hover {
        animation: rotateText 0.8s linear 1;
        cursor: pointer;
      }
    }

    .side-nav {
      display: none;
      position: fixed;
      z-index: 3;
      top: 0;
      right: 0;
      width: 100%;
      height: 0%;
      background-color: rgb(234, 237, 238);
      padding-top: 60px;

      .close-btn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;

        text-decoration: none;
        color: black;
        font-family: "ch-font";
        margin-left: 50px;
        padding: 8px 8px 8px 32px;
      }

      ul {
        display: none;
        li {
          a {
            display: block;
            padding: 40px 8px 40px 8px;
            font-size: 25px;
            font-family: "ch-font";
            color: black;
            text-decoration: none;
            text-align: center;
            transition: all 0.3s ease-in-out;
            &:hover {
              color: mediumblue;
            }
          }
          .active {
            color: mediumblue;
          }
        }
      }
    }
  }

  main.contact-main {
    font-family: "ch-font";
    display: flex;
    flex-wrap: wrap;
    margin-top: 10%;
    justify-content: center;
    align-items: flex-start;

    .left-region {
      padding: 2rem 0rem;
      h2 {
        font-size: 2rem;
        font-weight: bold;
      }
      h3 {
        font-size: 1.2rem;
      }
      h4 {
        font-size: 1.25rem;
        padding-bottom: 0.75rem;
      }
      div {
        padding: 1rem;
      }
      a {
        text-decoration: none;
      }
    }
    .right-region {
      display: flex;
      flex-wrap: wrap;
      padding: 0.75rem 2rem;
      text-align: center;

      label {
        text-align: left;
        font-size: 1.35rem;
        display: block;
        padding: 1rem 0rem 0.5rem 0rem;
      }
      input,
      textarea {
        border: 2px solid black;
        font-size: 1.15rem;
        width: 300px;
        height: 50px;
      }
      textarea {
        height: 150px;
      }
      button {
        margin-top: 1.25rem;
        padding: 0.8rem 1.5rem;
        font-size: 1.25rem;
        font-weight: bold;

        border: 2px solid rgb(75, 75, 212);
        border-radius: 50%;
        background-color: rgb(122, 122, 253);

        color: white;
        transition: all 0.2s ease-in;

        &:hover {
          cursor: pointer;
          background-color: white;
          border: 2px solid black;
          color: black;
          transform: scale(1.1);
        }
      }
    }
  }

  main.project-main {
    font-family: "ch-font";
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    .back-top-img2 {
      width: 10%;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        position: relative;
        width: 60px;
        height: 60px;
        background-color: white;
        padding: 0.75rem;
        border-radius: 50%;
        box-shadow: 2px 2px 5px #777, -2px 2px 5px #777, 2px -2px 5px #777;
        &:hover {
          cursor: pointer;
          background-color: rgba(211, 211, 211, 0.7);
        }
      }
    }

    .project-title {
      display: flex;
      align-items: baseline;
      justify-content: center;
      text-align: center;

      h2 {
        font-size: 2rem;
        padding: 0.5rem;
      }
    }

    table {
      border-collapse: collapse;
      margin: 0.3rem;
      th {
        border: 1px solid black;
        font-size: 1.5rem;
        padding: 0.75rem;
      }
      td {
        border: 1px solid black;
        font-size: 1.25rem;
        padding: 0.5rem;
      }
      img {
        width: 90%;
        &:hover {
          border: 2px solid black;
          transition: all 0.3s ease-out;
          transform: scale(1.1);
        }
      }
      ul {
        margin-left: 1rem;
        li {
          padding: 0.25rem;
        }
      }
      p {
        font-size: 1.15rem;
        padding: 0.5rem 0;
      }
      tr:hover {
        background-color: rgba(144, 238, 144, 0.5);
      }
    }

    .lab-project,
    .side-project {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      width: 80%;
      justify-content: center;

      .project-content {
        background-color: white;
        margin: 0rem 0rem 3rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 2px 2px 3px #777, -2px 2px 3px #777, 2px -2px 3px #777;

        .img-content {
          display: flex;
          justify-content: center;
        }

        h2 {
          text-align: center;
          padding: 1rem;
          font-size: 1.5rem;
        }
        h4 {
          font-size: 1.05rem;
        }
        a {
          text-decoration: none;
          &:hover {
            cursor: pointer;
            color: rgba(240, 128, 128);
          }
        }
      }
    }
  }

  main.resume-main {
    font-family: "ch-font";
    display: flex;
    margin-top: 5%;

    .left-region {
      width: 20%;
      height: 100%;
      margin: 0rem 2rem;
      position: sticky;
      top: 5%;
      left: 0;

      h2 {
        margin: 1rem;
        padding-bottom: 0.5rem;
        border-bottom: 2px solid black;
      }

      .each-nav {
        display: flex;
        margin: 1rem 1rem 2rem 1rem;
        position: relative;
        align-items: center;
        text-align: center;

        a {
          text-decoration: none;
          color: rgb(97, 97, 97);
          display: block;
          font-size: 1.2rem;
          margin-left: 0.5rem;
        }
        .active {
          background-color: rgb(133, 132, 132);
          &::after {
            background-color: white;
          }
        }

        &:hover {
          .button-nav {
            transition: all 0.5s ease-in-out;
            background-color: rgb(133, 132, 132);
          }
          .button-nav::after {
            transition: all 0.5s ease-in-out;
            background-color: white;
          }
        }
      }

      .button-nav {
        position: relative;
        background-color: transparent;
        width: 20px;
        height: 20px;
        border: 3px solid rgb(133, 132, 132);
        border-radius: 10px;

        &::after {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          content: "";
          width: 10px;
          height: 10px;
          border-radius: 5px;
        }
      }
    }
    .right-region {
      width: 70%;
      height: 100%;
      display: flex;

      .back-top-img {
        width: 10%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: sticky;
        top: 80%;
        right: 2%;

        img {
          position: relative;
          width: 60px;
          height: 60px;
          background-color: white;
          padding: 0.75rem;
          border-radius: 50%;
          box-shadow: 2px 2px 5px #777, -2px 2px 5px #777, 2px -2px 5px #777;
          &:hover {
            cursor: pointer;
            background-color: rgba(211, 211, 211, 0.7);
          }
        }
      }
      table {
        border-collapse: collapse;
        width: 100%;

        h5 {
          font-size: 0.8rem;
        }
        li {
          padding: 0.5rem 0rem;
        }
        a {
          text-decoration: none;
        }

        th,
        td {
          border-top: 1px solid black;
          border-bottom: 1px solid black;
        }

        th {
          border-right: 1px solid black;
          text-align: center;
          padding: 0.5rem;
        }
        td {
          padding: 0.75rem 1.5rem;
        }
        tr:hover {
          background-color: rgba(144, 238, 144, 0.5);
        }
      }
      h2 {
        width: 90%;
        margin: 1rem 0rem;
        font-size: 2rem;
        text-align: center;
      }
      h3 {
        font-size: 1.25rem;
        margin-bottom: 1rem;
      }
      p {
        padding-left: 0.25rem;
      }
      #special-studies {
        ul {
          padding: 0rem 1.5rem;
          li {
            font-size: 1.2rem;
            padding: 0.25rem 0.5rem;
          }
        }
        p {
          text-indent: 2em;
          text-align: left;
          margin-bottom: 1rem;
        }
        img {
          padding-bottom: 0.5rem;
          width: 100%;
        }
        .special-links {
          display: flex;
          flex-wrap: wrap;

          a {
            display: block;
            text-decoration: none;
            color: purple;
            margin: 0.25rem 0rem 1.25rem 1.25rem;
            font-size: 1rem;

            &:hover {
              font-size: 1.25rem;
              border-bottom: 1px solid rgb(38, 38, 247);
              color: rgb(38, 38, 247);
            }
          }
        }
      }
      .content-text {
        padding: 0.75rem 0.25rem;
        display: flex;
        flex-wrap: wrap;
        img {
          flex: 1 1 300px;
          width: 100%;
          margin-right: 0.75rem;
        }
        p {
          flex: 2 1 300px;
        }
      }
    }
  }

  main.index-main {
    .information {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10%;

      .left-info {
        display: flex;
        flex-direction: column;

        .self-img {
          img {
            width: 500px;
            border-radius: 50%;
            padding: 1.25rem;
          }
        }
        .contact-methods {
          display: flex;
          justify-content: center;
          align-items: center;
          .line,
          .phone,
          .gmail,
          .github {
            padding: 0rem 0.75rem;
          }
        }
      }

      .right-info {
        margin: 1rem;
        font-family: "ch-font";
        width: 530px;

        h2 {
          font-size: 2rem;
          padding-bottom: 0.75rem;
        }
        h3 {
          font-size: 1.5rem;
          padding-bottom: 0.5rem;
        }
        p {
          font-size: 1.15rem;
          padding-bottom: 1.5rem;
        }
        .quick-links {
          display: flex;
          text-align: center;
          .resume {
            background-color: rgba(156, 247, 161, 0.8);
          }
          .project {
            background-color: rgba(115, 234, 250, 0.8);
          }
          .contact {
            background-color: rgba(165, 42, 42, 0.6);
          }
          a {
            text-decoration: none;
            color: black;

            display: flex;
            justify-content: center;
            align-items: center;

            width: 120px;
            height: 60px;
            padding: 1rem;
            margin: 0rem 1rem;

            font-size: 1.15rem;
            border-radius: 48%;
            border: 2px solid gray;
            transition: all 0.2s ease-in;

            &:hover {
              background-color: white;
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  body {
    main.resume-main {
      .right-region {
        .content-text {
          flex-direction: column;
          img {
            margin-right: 0;
            margin-bottom: 0.75rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 980px) {
  body header {
    .windows-nav {
      display: none;
    }
    p {
      display: block;
    }
    // .side-nav {
    //   overflow-y: scroll;
    // }
  }

  body main.contact-main {
    flex-direction: column;
    align-items: center;
    .left-region {
      text-align: center;
    }
  }

  body main.project-main {
    .back-top-img2 {
      img {
        width: 50px;
        height: 50px;
        padding: 0.7rem;
      }
    }
  }

  body main.resume-main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .left-region {
      position: static;
      width: 50%;
    }
    .right-region {
      border-top: 1px solid black;
      width: 90%;
      div {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
      }
      .back-top-img {
        top: 65%;
        right: 0;
        img {
          width: 50px;
          height: 50px;
        }
      }
    }
  }

  body main.index-main {
    .information {
      flex-direction: column-reverse;
      .left-info {
        flex-direction: column-reverse;
      }
      .right-info {
        text-align: center;
        .quick-links {
          justify-content: center;
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  body header {
    .web-title {
      .circle {
        margin-bottom: 22px;
      }
      .title-text {
        flex-direction: column;
        align-items: flex-start;
      }
    }
    // .side-nav {
    //   overflow-y: scroll;
    // }
  }
  body main.index-main {
    .information {
      .left-info {
        .self-img {
          img {
            width: 300px;
          }
        }
      }
      .right-info {
        width: 300px;
        .quick-links {
          align-items: center;
          a {
            margin: 0.25rem 0.5rem;
            padding: 2.25rem 1rem;
          }
        }
      }
    }
  }

  body main.resume-main {
    .left-region {
      width: 80%;
    }
    .right-region {
      width: 90%;
      .back-top-img {
        top: 80%;
        img {
          width: 40px;
          height: 40px;
        }
      }
    }
  }

  body main.project-main {
    .project-title {
      .rectangle {
        width: 16px;
        height: 16px;
      }
      h2 {
        font-size: 1.25rem;
      }
    }
    .lab-project,
    .side-project {
      .project-content {
        h2 {
          font-size: 1.25rem;
        }
        table {
          th {
            font-size: 1.25rem;
          }
          td {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@keyframes animate-open {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

@keyframes animate-close {
  from {
    height: 100%;
  }
  to {
    height: 0%;
  }
}

@keyframes rotateText {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
